<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bryanrowland.brytools</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Volumes/RowMedia/CODE/brytools/start-server.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Volumes/RowMedia/CODE/brytools/brytools.log</string>
    <key>StandardErrorPath</key>
    <string>/Volumes/RowMedia/CODE/brytools/brytools.log</string>
    <key>WorkingDirectory</key>
    <string>/Volumes/RowMedia/CODE/brytools</string>
</dict>
</plist>
